@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="home-bg-overlay">
</div>
<div class="movie-home-conatiner">
    <div class="text-center home_heading">
        <h1 class="display-4">Welcome to MovieSpace</h1>
    </div>
    <div class="movie-content">
        <p class="heading">Top Rated</p>
        <div class="movie-item-container">
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <i class="bi bi-star-fill"></i>
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <i class="bi bi-star-fill"></i>
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <i class="bi bi-star-fill"></i>
                    <p>Movie Name</p>
                </div>
            </div>
        </div>
        
       
    </div>
    <div class="movie-content">
        <p class="heading">Sci-Fi</p>
        <div class="movie-item-container">
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <i class="bi bi-star-fill"></i>
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <p>Movie Name</p>
                </div>
            </div>
            <div class="movie-item">
                <div class="movie-img">
                    <img src="assets/mov1.jpg" />
                </div>
                <div class="movie-card-detail">
                    <i class="bi bi-star-fill"></i>
                    <p>Movie Name</p>
                </div>
            </div>
        </div>


    </div>
    
</div>
<a class="add-new" href="/addMovie">Add New Movie</a>
