html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
a{
    text-decoration:none;
    color:white !important;
}

p{
    margin:0;
    padding:0;
}
body >.container{
    margin-bottom:5%;
}
.bg-dark-cus-cus {
    background-color: #000000 !important;
}
.login-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 3%;
    margin: auto;
    border-bottom: 3px solid dodgerblue;
    border-radius: 15px;
    background-color:white;
    opacity:0.95;
}
.signin-bg, .home-bg-overlay, .add-movie-bg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    width: 100vw;
    height: 100vh;
}
.home-bg-overlay {
   background-color:black;
}
.add-movie-bg > img{
    width:100%
}
.movie-home-conatiner {
    margin: 0 auto;
    color: white;
}
.movie-content{
    display:flex;
    flex-direction:column;
    gap:2%;
    margin-bottom:3%;
}
    .movie-content > p {
        font-size: 28px;
        background-image: url(../assets/title_bg.jpg);
        background-position: bottom;
        width: fit-content;
        padding: 0 15%;
        font-weight: 600;
        border-radius: 47px 0 47px 0;
        color: black;
    }
.movie-item-container {
    display: flex;
    gap: 1.5%;
    flex-wrap: wrap;
}
.movie-item {
    background-color: black;
    padding: 0.2%;
    width: 205px;
    box-shadow: 2px 2px 10px #616161;
    margin-bottom: 2%
}
.movie-item:hover{
    cursor:pointer;
}
.movie-img{
    width:100%;
    }
.movie-img > img {
        width: 100%;
        aspect-ratio:3/4;
}
.home_heading {
    background-image: url("../assets/home_head.jpg");
    background-position: bottom;
    filter: grayscale(1);
    margin-bottom:3%;
    padding:2%;
}

.add-new {
    position: fixed;
    bottom: 9%;
    right: 3%;
    padding: 1%;
    font-weight: bold;
    border-radius: 25px;
    outline: none;
    background-color:white
}
.movie-content > heading{
    padding:3%
}
.rating_dwnld_img {
    width: 35px;
}
.rating_div {
    position: relative;
    width:fit-content;
}
.rating_value {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rate_icon_div{
    display:flex;
    justify-content:space-between;
    margin:4%;
}
.movie_edit_btn {
    color: white;
    width: 96%;
    background-color: black;
    outline: none;
    border-radius: 7px;
    margin: 2%;
    border: 1.5px solid red;
}
.edit_movie_container{
    display:flex;
    gap:3%;
}
.edit_img{
    width:30%;
}
.edit_img > img {
    border: solid 2px red;
}
.edit_detail{
    width:70%;
}